
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30">

        <div  class="main-div">
            <mat-card>
                <mat-toolbar color="primary">Virtual ATM Home</mat-toolbar>
                <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                    <button mat-raised-button matTooltip="Inserting card is implemented as Login feature." routerLink="/login" color="accent">Insert Card !!!</button>
                </form>          
            </mat-card>
        </div>
    </mat-card>
</div>
